[submodule "dependencies/cpptoml"]
	path = dependencies/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dependencies/Detours"]
	path = dependencies/Detours
	url = https://github.com/microsoft/Detours.git
